<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>首页</title>

    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/css/mycss/home.css}"/>
</head>
<body data-spy="scroll" data-target="#navigation-bar" data-offset-top="200">

<script th:src="@{/js/jquery-2.1.1.js}"></script>
<script th:src="@{/js/bootstrap.js}"></script>


<script>
    $(function ($) {
        $(window).scroll(function () {
            //var top = $("#navigation-bar").offset().top;
            //无法获取到导航栏到顶部的距离，top为滚动条距离

            var scrollTop = $(document.documentElement).scrollTop();
            if (scrollTop > 50) {
                $("#navigation-bar").css("opacity", "0.7");//设置导航栏透明度
                $("#return-top-btn").fadeIn(500);//淡出显示 返回顶部 的按钮
            } else {
                $("#navigation-bar").css("opacity", "1");
                $("#return-top-btn").fadeOut(500);
            }

        })

        $("#return-top-btn").click(function () {
            $('body,html').animate({scrollTop: 0}, 1000);//缓缓返回顶部
        })




    })


</script>

<!--返回顶部-->
<button id="return-top-btn">
    <span class="glyphicon glyphicon glyphicon-menu-up" aria-hidden="true"></span>
    <br>
    返回顶部
</button>

<!--导航条-->
<nav class="navbar navbar-default navbar-fixed-top" id="navigation-bar">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <nav class="navbar navbar-default" id="logo-nav">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#" id="logo">
                            <img alt="Brand" th:src="@{/img/保时捷.png}">
                        </a>

                        <a class="navbar-brand" href="#" id="logo-text">手机维修砖家</a>
                    </div>
                </div>
            </nav>
        </div>


        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav" id="bar-text">
                <li><a href="#">首页 <span class="sr-only">(current)</span></a></li>
                <li><a href="#repair-quotation">众多机型</a></li>
                <li><a href="#subscribe">预约下单</a></li>
                <li><a href="#six-specialty">六大特点</a></li>
                <li><a href="#question">常见问题</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right" id="login-ul">
                <li>
                    <a class="glyphicon glyphicon-user" href="#"></a>
                    <!--<a href="#">预约电话：188xxxxxxxx</a>-->
                </li>
            </ul>
        </div>
    </div>
</nav>

<!--轮播图-->
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>


    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <a href="#">
                <img th:src="@{/img/carousel1.png}" alt="pic1">
            </a>
        </div>

        <div class="item">
            <a href="#">
                <img th:src="@{img/carousel2.png}" alt="pic1">
            </a>
        </div>

        <div class="item">
            <a href="#">
                <img th:src="@{img/carousel3.png}" alt="pic1">
            </a>
        </div>


    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<!--六大特点-->
<div class="container-fluid home-specialty" id="six-specialty">
    <div class="row">
        <div class="col-lg-2 col-md-4 col-xs-6">
            <img th:src="@{/img/shangmen.png}">
            <p class="specialty-text">免费上门</p>
        </div>
        <div class="col-lg-2 col-md-4 col-xs-6">
            <img th:src="@{/img/huaban-.png}">
            <p class="specialty-text">专业工程师</p>
        </div>
        <div class="col-lg-2 col-md-4 col-xs-6">
            <img th:src="@{/img/baoxiu.png}">
            <p class="specialty-text">半年保修</p>
        </div>
        <div class="col-lg-2 col-md-4 col-xs-6">
            <img th:src="@{/img/shezhi.png}">
            <p class="specialty-text">品质配件</p>
        </div>
        <div class="col-lg-2 col-md-4 col-xs-6">
            <img th:src="@{/img/shezhi.png}">
            <p class="specialty-text">透明报价</p>
        </div>
        <div class="col-lg-2 col-md-4 col-xs-6">
            <img th:src="@{/img/shezhi.png}">
            <p class="specialty-text">全程录像</p>
        </div>
    </div>
</div>

<!--各型号标签页-->
<div class="container label-page" id="repair-quotation">
    <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="#apple" data-toggle="tab">苹果</a></li>
        <li role="presentation"><a href="#huawei" data-toggle="tab">华为</a></li>
        <li role="presentation"><a href="#samsung" data-toggle="tab">三星</a></li>
        <li role="presentation"><a href="#mi" data-toggle="tab">小米</a></li>
        <li role="presentation"><a href="#oppo" data-toggle="tab">OPPO</a></li>
        <li role="presentation"><a href="#vivo" data-toggle="tab">vivo</a></li>
    </ul>
</div>
<div id="myTabContent" class="tab-content">
    <div class="tab-pane fade in active" id="apple">
        <div class="container-fluid model-table">
            <div class=" model-table-div" >
                <div th:each="phone,phoneState : ${phoneList}">
                    <a href="#" th:if="${phone.brandId == 1} and ${phoneState.index} lt 10" >
                        <img th:src="@{/img/Phone_img/{phoneName}(phoneName=${phone.getPhoneImage()})}">
                        <p th:text="${phone.phoneName}"></p>
                    </a>
                </div>


                <a th:href="@{phoneClassification}">选择更多机型</a>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="huawei">
        <div class="container-fluid model-table">
            <div class=" model-table-div">

                <div th:each="phone,phoneState : ${phoneList}">
                    <a href="#" th:if="${phone.brandId == 3}" >
                        <img th:src="@{/img/Phone_img/{phoneName}(phoneName=${phone.getPhoneImage()})}">
                        <p th:text="${phone.phoneName}"></p>
                    </a>
                </div>

                <a th:href="@{phoneClassification}">选择更多机型</a>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="samsung">
        <div class="container-fluid model-table">
            <div class=" model-table-div">
                <div th:each="phone,phoneState : ${phoneList}">
                    <a href="#" th:if="${phone.brandId == 2}" >
                        <img th:src="@{/img/Phone_img/{phoneName}(phoneName=${phone.getPhoneImage()})}">
                        <p th:text="${phone.phoneName}"></p>
                    </a>
                </div>

                <a th:href="@{phoneClassification}">选择更多机型</a>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="mi">
        <div class="container-fluid model-table">
            <div class=" model-table-div">
                <div th:each="phone,phoneState : ${phoneList}">
                    <a href="#" th:if="${phone.brandId == 4}" >
                        <img th:src="@{/img/Phone_img/{phoneName}(phoneName=${phone.getPhoneImage()})}">
                        <p th:text="${phone.phoneName}"></p>
                    </a>
                </div>
                <a th:href="@{phoneClassification}">选择更多机型</a>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="oppo">
        <div class="container-fluid model-table">
            <div class=" model-table-div">
                <div th:each="phone,phoneState : ${phoneList}">
                    <a href="#" th:if="${phone.brandId == 5}" >
                        <img th:src="@{/img/Phone_img/{phoneName}(phoneName=${phone.getPhoneImage()})}">
                        <p th:text="${phone.phoneName}"></p>
                    </a>
                </div>
                <a th:href="@{phoneClassification}">选择更多机型</a>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="vivo">
        <div class="container-fluid model-table">
            <div class=" model-table-div">
                <div th:each="phone,phoneState : ${phoneList}">
                    <a href="#" th:if="${phone.brandId == 6}" >
                        <img th:src="@{/img/Phone_img/{phoneName}(phoneName=${phone.getPhoneImage()})}">
                        <p th:text="${phone.phoneName}"></p>
                    </a>
                </div>
                <a th:href="@{phoneClassification}">选择更多机型</a>
            </div>
        </div>
    </div>
</div>


<!--特点 大图-->
<div class="container-fluid service-think">
    <p class="tit">我们认为，优质的服务</p>
    <p>必须兼顾方方面面</p>

</div>
<div class="container-fluid six-specialty-div center-block">
    <div class="row">
        <div class="col-lg-4 col-md-6 col-xs-6">
            <!--<img src="../static/img/service-li-1.png">-->
            <img th:src="@{/img/service-li-1.png}">
            <p class="tit">快速上门</p>
            <p>极速响应，免费上门，平均20分钟维修时长</p>
        </div>
        <div class="col-lg-4 col-md-6 col-xs-6">
            <!--<img src="../static/img/service-li-2.png">-->
            <img th:src="@{/img/service-li-2.png}">
            <p class="tit">专业工程师</p>
            <p>技术精湛，层层考核，高标准的专业维修团队</p>
        </div>
        <div class="col-lg-4 col-md-6 col-xs-6">
            <!--<img src="../static/img/service-li-3.png">-->
            <img th:src="@{/img/service-li-3.png}">
            <p class="tit">高品质配件</p>
            <p>30道检测工艺，一件一码独立标识</p>
        </div>
        <div class="col-lg-4 col-md-6 col-xs-6">
            <!--<img src="../static/img/service-li-4.png">-->
            <img th:src="@{/img/service-li-4.png}">
            <p class="tit">透明报价</p>
            <p>价格公开透明，满意再付款</p>
        </div>
        <div class="col-lg-4 col-md-6 col-xs-6">
            <!--<img src="../static/img/service-li-5.png">-->
            <img th:src="@{/img/service-li-5.png}">
            <p class="tit">全程录像</p>
            <p>当面维修，拒绝偷梁换柱，给您看得见的放心</p>
        </div>
        <div class="col-lg-4 col-md-6 col-xs-6">
            <!--<img src="../static/img/service-li-6.png">-->
            <img th:src="@{/img/service-li-6.png}">
            <p class="tit">全国联保</p>
            <p>同一故障点180天全国联保，免费上门维修</p>
        </div>
    </div>
</div>
<div class="container-fluid service-quality">
    <p class="tit">官方直营 品质如一</p>
    <p>纯直营，高品质，牢牢把握维修的每一个细节</p>

</div>

<!--预约下单-->
<div class="subscribe-title" id="subscribe">我要预约</div>
<div class="subscribe-form">
    <div class="list-box" >
        <div class="series-box box">
            <div class="select-div" >
                <select name="brand_name" id="brand_name" class="form-control">
                    <option>--手机品牌--</option>
                </select>
            </div>
            <div class="select-div">
                <select name="series_name" id="series_name" class="form-control">
                    <option>--手机系列--</option>
                </select>
            </div>
        </div>

        <div class="color-box box">
            <div class="select-div">
                <select name="phone_name" id="phone_name" class="form-control">
                    <option>--手机型号--</option>
                    <!--<div th:each=" phone : ${phoneList}" th:if="${phone.getSeriesId()} eq ">-->
                    <!--<option th:text="${phone.getPhoneName()}"></option>-->
                    <!--</div>-->
                </select>
            </div>
            <div class="select-div" >
                <select name="phone_colors" id="phone_colors" class="form-control">
                    <option>--请选择颜色--</option>
                    <option>黑色</option>
                    <option>白色</option>
                    <option>绿色</option>
                    <option>红色</option>
                </select>
            </div>
        </div>

        <div class="fault-box box">
            <div class="select-div" >
                <select name="fault_type" id="fault_type" class="form-control">
                    <option>--故障大类--</option>
                </select>
            </div>
            <div class="select-div">
                <select name="repair_name" id="repair_name" class="form-control">
                    <option>--故障小类--</option>
                </select>
            </div>
        </div>

        <div class="name-box box">
            <div class="select-div" >
                <input type="text" id="user_name" placeholder="姓名">
            </div>
            <div class="select-div" >
                <input type="text" id="phone_number" placeholder="电话号码">
            </div>
        </div>

        <div class="city-box box">
            <div class="select-div" >
                <select name="province" id="province" class="form-control">
                    <option>--请选择省份--</option>
                </select>
            </div>
            <div class="select-div">
                <select name="city" id="city" class="form-control">
                    <option>--请选择城市--</option>
                </select>
            </div>
        </div>

        <div class="address-box box">
            <div class="select-div" >
                <input type="text" id="user_address" placeholder="请输入地址">
            </div>
        </div>


        <div class="submit_box box">
            <button id="fixSubmit" class="submitbtn" type="submit">提交订单</button>
        </div>


    </div>

</div>


<!--常见问题-->
<div id="question">
    <div class="question-box">
        <p class="tit">您可能会关心的问题</p>
        <ul class="question-list">
            <li>
                <p class="info">
                    <span class="question-title">
                        哪些城市支持上门服务？
                    </span>
                    <span class="question-text">
                        开哥手机维修砖家目前已进驻北京市、上海市、杭州市、宁波市、广州市、深圳市、成都市、苏州市、南京市、无锡市、武汉市、重庆市、郑州市、厦门市、福州市、西安市、天津市、合肥市、长沙市、青岛市、济南市、沈阳市、大连市、南昌市、贵阳市、南宁市、石家庄市、昆明市 28城，可提供上门快修服务。
                    </span>
                </p>
                <div class="clear"></div>
            </li>
            <li>
                <p class="info">
                    <span class="info-title">
                        不支持上门的城市怎么办？
                    </span>
                    <span class="question-text">
                        未覆盖上门维修城市用户可以选择寄修服务，将需要维修的设备邮寄到最近的维修中心，闪修侠负责双向顺丰邮寄费用，详情可咨询客服。
                    </span>
                </p>
                <div class="clear"></div>
            </li>
            <li>
                <p class="info">
                    <span class="info-title">
                        下单后的服务流程是怎样的?
                    </span>
                    <span class="question-text">
                        请保持电话畅通，闪修侠工程师/客服会尽快联系您，确认设备故障及上门时间地点，工程师会在约定的时间内上门维修，维修完成后用户在线支付。
                    </span>
                </p>
                <div class="clear"></div>
            </li>
            <li>
                <p class="info">
                    <span class="info-title">
                        外屏碎和内外屏都碎怎么区分？
                    </span>
                    <span class="question-text">
                        如果屏幕碎了，但图像可以正常显示，就只是外屏碎。如果图片显示不正常或者完全无法显示，则内屏也碎了。
                    </span>
                </p>
                <div class="clear"></div>
            </li>
            <li>
                <p class="info">
                    <span class="info-title">
                        更换的配件是保修时长多久？
                    </span>
                    <span class="question-text">
                        更换的配件保修期一般为180天（内存升级及软件升级服务除外）
                    </span>
                </p>
                <div class="clear"></div>
            </li>
            <li>
                <p class="info">
                    <span class="info-title">
                        新电池更换后出现不耐用的情况是怎么回事？
                    </span>
                    <span class="question-text">
                        电池出厂都不是满电，一般情况下会有虚电。新电池刚使用，因为电芯未完全被激活，导致电量不稳定不耐用等情况，属于正常现象，首次充电6-8小时为宜，以后每次充电只充4-6小时即可。
                    </span>
                </p>
                <div class="clear"></div>
            </li>


        </ul>
    </div>
</div>


<script th:inline="javascript">


    /*<![CDATA[*/

    var phoneList = [[${phoneList}]];
    var brandList = [[${brandList}]];
    var seriesList = [[${seriesList}]];
    var faultList  = [[${faultList}]];
    var repairList = [[${repairList}]];


    $(document).ready(function () {

        //品牌名和系列
        for(var key in brandList) {
            // console.log(key);
            $("#brand_name").append('<option value="' + brandList[key].id + '">' + brandList[key].brandName + '</option>');
        }
        $("#brand_name").change(function() {
            var now_brand = $(this).val();
            $("#series_name").html('<option value="">选择手机系列</option>');
            for(var k in seriesList) {
                if(seriesList[k].brandId == now_brand)
                // var now_series = brand[now_brand].options[k];
                    $("#series_name").append('<option value="' +  seriesList[k].id + '">' + seriesList[k].seriesName + '</option>');
            }
            $("#series_name").change(function () {
                var now_series = $(this).val();
                $("#phone_name").html('<option value="">选择手机型号</option>');
                for(var k in phoneList) {
                    if(phoneList[k].seriesId == now_series)
                    // var now_series = brand[now_brand].options[k];
                        $("#phone_name").append('<option value="' +  phoneList[k].id + '">' + phoneList[k].phoneName + '</option>');
                }

            })
            $("#phone_name").change(function () {
                var now_phone = $(this).val();
                // console.log(now_phone);
                $("#phone_colors").html('<option value="">选择手机颜色</option>');
                for(var k in phoneList) {
                    if(phoneList[k].id == now_phone){
                        var colorList = phoneList[k].phoneColorList;
                        // console.log(colorList);
                        for (var key in colorList) {
                            $("#phone_colors").append('<option value="' +  key + '">' + colorList[key] + '</option>');
                        }
                    }


                }

            })
        });



        //维修问题
        for(var key in faultList) {
            $("#fault_type").append('<option value="' + faultList[key].id + '">' + faultList[key].faultType + '</option>');
        }
        $("#fault_type").change(function() {
            var now_type = $(this).val();
            $("#repair_name").html('<option value="">选择需要维修的问题</option>');
            for(var k in repairList) {
                if(repairList[k].faultId == now_type)
                // var now_series = brand[now_brand].options[k];
                    $("#repair_name").append('<option value="' +  repairList[k].id + '">' + repairList[k].repairName + '</option>');
            }


        })



        //维修问题
        /*$.ajax({
            type: "GET",
            url: "package.json",
            dataType: "json",
            success: function(res) {
                /!*一级二级联动下拉菜单*!/
                //console.log(res);
                var repair = res.model_repair.option;
                //console.log(typeof(res));
                for(var key in repair) {
                    //console.log(data[i].id + "===" + data[i].options[0].name)
                    $("#fault_type").append("<option value='" + key + "'>" + repair[key].name + "</option>");
                }
                $("#fault_type").change(function() {
                    var now_type = $(this).val();
                    $("#repair_name").html('<option value="">选择需要维修的问题</option>');
                    for(var k in repair[now_type].options) {
                        var now_repair = repair[now_type].options[k];
                        $("#repair_name").append('<option value="' + k + '">' + now_repair.name + '</option>');
                    }
                });
            }
        });*/

        //省市
        $.ajax({
            type: "GET",
            url: "package.json",
            dataType: "json",
            success: function(res) {
                /*一级二级联动下拉菜单*/
                //console.log(res);
                var province = res.provinces;
                // var city = res.provinces.citys;
                //console.log(typeof(res));
                for(var key in province) {
                    //console.log(data[i].id + "===" + data[i].options[0].name)
                    $("#province").append("<option value='" + key + "'>" + province[key].provinceName + "</option>");
                }
                $("#province").change(function () {
                    // var now_province = $(this).prop('selectedIndex');
                    var now_province = $(this).val();
                    $("#city").html('<option value="">选择城市</option>');
                    for(var k in province[now_province].citys) {
                        var now_city = province[now_province].citys[k];
                        $("#city").append('<option value="' + k + '">' + now_city.citysName + '</option>');
                    }
                })
            }
        });

    })

    /*]]>*/
</script>

</body>
</html>
