<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>手机维修详情</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/css/mycss/home.css}"/>
    <link rel="stylesheet" th:href="@{/css/mycss/phoneDetail.css}"/>
</head>
<body>
<script th:src="@{/js/jquery-2.1.1.js}"></script>
<script th:src="@{/js/bootstrap.js}"></script>
<script>
    $(function ($) {
        $(window).scroll(function () {
            //var top = $("#navigation-bar").offset().top;
            //无法获取到导航栏到顶部的距离，top为滚动条距离

            var scrollTop = $(document.documentElement).scrollTop();
            if (scrollTop > 50) {
                $("#navigation-bar").css("opacity", "0.7");//设置导航栏透明度
                $("#return-top-btn").fadeIn(500);//淡出显示 返回顶部 的按钮
            } else {
                $("#navigation-bar").css("opacity", "1");
                $("#return-top-btn").fadeOut(500);
            }


        })

        $("#return-top-btn").click(function () {
            $('body,html').animate({scrollTop: 0}, 1000);//缓缓返回顶部
        })

    })
</script>

<!--返回顶部-->
<button id="return-top-btn">
    <span class="glyphicon glyphicon glyphicon-menu-up" aria-hidden="true"></span>
    <br>
    返回顶部
</button>

<!--导航条-->
<nav class="navbar navbar-default navbar-fixed-top" id="navigation-bar">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <nav class="navbar navbar-default" id="logo-nav">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" th:href="@{/index}" id="logo">
                            <img alt="Brand" th:src="@{/img/保时捷.png}">
                        </a>

                        <a class="navbar-brand" th:href="@{/index}" id="logo-text">手机维修砖家</a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    </div>
</nav>

<!--手机详情-->
<div class="mal-wap">
    <!--图片-->
    <div class="img-wrap">
        <img th:src="@{/img/Phone_img/{phoneName}(phoneName=${phone.getPhoneImage()})}">
    </div>

    <!--详情-->
    <div class="mal-con">
        <h1>品牌机型
            <span id="phone_name" th:text="${phone.getPhoneName()}">iPhone 6 Plus</span>
            <a href="@{phoneClassification}">【更改机型】</a>
        </h1>
        <p class="sub-title">
            <span class="glyphicon glyphicon-ok">免费上门</span>
            <span class="glyphicon glyphicon-ok">20分钟快修</span>
            <span class="glyphicon glyphicon-ok">修完后付款</span></p>
        <h2>机型颜色</h2>
        <ul class="color-ul clearfix" id="colorCon">
            <th:block th:each="color,colorState :${phone.phoneColorList}">
                <li class="color-li ul-li" data-id="1" th:value="${colorState.index}" th:text="${color}">黑色</li>
            </th:block>
            <!--<li class="color-li ul-li" data-id="1">黑色</li>
            <li class="color-li ul-li" data-id="2">白色</li>
            <li class="color-li ul-li" data-id="3">绿色</li>
            <li class="color-li ul-li" data-id="4">红色</li>-->

        </ul>
        <h2>故障类型</h2>
        <ul class="mal-ul clearfix" id="fault_type">
            <!--<th:block th:each="fault : ${faultList}">
                <li class="mal-li ul-li" th:text="${fault.faultType}" th:value="${fault.id}">
                    电池/充电问题
                    <span class="repair-sel-span" th:value="${fault.id}"></span>
                </li>

            </th:block>-->
            <!--<li class="mal-li ul-li cur">屏幕问题(更换总成 旧屏回收)<span></span></li>-->
            <!--<li class="mal-li ul-li">电池/充电问题<span></span></li>-->
            <!--<li class="mal-li ul-li">内存升级/更换硬盘<span></span></li>-->
            <!--<li class="mal-li ul-li">摄像头问题<span></span></li>-->
            <!--<li class="mal-li ul-li">按键问题<span></span></li>-->
            <!--<li class="mal-li ul-li">声音问题<span></span></li>-->
            <!--<li class="mal-li ul-li cur">WiFi/手机信号问题<span></span></li>-->
            <!--<li class="mal-li ul-li">进水/无法开机/手机摔坏问题<span></span></li>-->
            <!--<li class="mal-li ul-li">主板维修<span></span></li>-->
            <!--<li class="mal-li ul-li">外壳边框问题<span></span></li>-->
            <!--<li class="mal-li ul-li">其他问题<span></span></li>-->
        </ul>
        <div class="repair-ul-wrap"><h2>维修方案</h2>
            <div class="repair-ul-all">
                <ul class="repair-ul clearfix cur" data-pid="0" id="repair_name">
                    <th:block th:each="repair : ${repairList}">
                        <li class="mal-li mal-sub-li ul-li" th:data-faultId="${repair.faultId}" th:value="${repair.id}">
                            <div class="mal-name" th:value="${repair.id}"
                                 th:text="${repair.repairName}"></div>
                            <div class="mal-money">
                                <p class="ac-money">¥229.00</p>
                            </div>
                        </li>
                    </th:block>

                    <!-- <li class="mal-li mal-sub-li ul-li">
                         <div class="mal-name">内屏显示异常</div>
                         <div class="mal-money">
                             <p class="ac-money">¥449.00</p>
                         </div>
                     </li>-->
                </ul>
            </div>
        </div>

            <div class="repair-con">
                <h3>
                    <span class="phone_data"></span>
                    <span class="color-data"></span>
                </h3>
                <ul class="repair-mal" id="repairMal">

                    <li class="repair-mal-li" th:each="repair : ${repairList}">
                        <th:block th:each="fault : ${faultList}" th:if="${fault.id == repair.faultId}">
                            <span class="fault-data" th:text="${fault.faultType}"></span>
                            <span class="repair-data" th:text="${repair.repairName}"></span>
                            <span class="price-data" th:text="${repair.id}">0</span>
                        </th:block>
                    </li>

                </ul>
                <div class="money-div">应付金额：<span class="money" id="money">0</span><span>元</span></div>
            </div>
        <form action="">
            <input type="hidden" name="userPhone" id="userPhone" value="">
            <input type="hidden" name="payment" id="payment" value="">
            <!--<input type="hidden" name="phoneDetail" id="phoneDetail" value="">
            <input type="hidden" name="repairDetails" id="repairDetails" value="">
            <input type="hidden" name="price" id="price" value="">-->
        </form>

        <div class="btn-wrap">
            <button class="submit-btn" id="submitBtn" data-brandid="1" data-id="33" onclick="submitOrder()">确认</button>
        </div>


    </div>
</div>


<!--<div class="clear"></div>-->

</body>
<script th:inline="javascript">

    /*<![CDATA[*/

    $(document).ready(function () {

        var phone = [[${phone}]];
        var faultList = [[${faultList}]];
        var repairList = [[${repairList}]];

        var nowFault = 0;
        var nowRepair = 0;

        //维修问题



        //维修问题
        for (var key in faultList) {
            $("#fault_type").append("<li class='mal-li ul-li' value='" + faultList[key].id + "'> " + faultList[key].faultType + " <span  value='" + faultList[key].id + "'></span></li>");
        }
        /*$("#fault_type>li").click(function () {
            // var now_type = $(this).val();
            var now_type = $(this).index() + 1;
            $("#repair_name").empty();

            for (var k in repairList) {
                if (repairList[k].faultId == now_type) {
                    var text = "<li class=\"mal-li mal-sub-li ul-li\">\n" +
                        "                        <div class=\"mal-name\">"
                        + repairList[k].repairName + "</div>\n" +
                        "                        <div class=\"mal-money\">\n" +
                        "                            <p class=\"ac-money\">¥229.00</p>\n" +
                        "                        </div>\n" +
                        "                    </li>"
                    $("#repair_name").append(text);
                }
                // var now_series = brand[now_brand].options[k];

            }
        })*/

        $(".phone_data").text(phone.phoneName);


        $(".color-li").on("click", function () {
            $(".color-li").removeClass("cur");
            $(this).addClass("cur");
            $(".color-data").text($(this).text());
        });


        $("#fault_type").on("click", "li", function () {
            nowFault = $(this).val();
            $("#repair_name>li").removeClass("show");

            $("#fault_type>li").removeClass("cur");

            $(this).addClass("cur");

            $("#repair_name>li[data-faultId='" + nowFault + "']").addClass("show");

        });

        $("#repair_name").on("click", "li", function () {
            nowRepair = $(this).val();

            if ($(this).hasClass("cur")) {
                $(this).removeClass("cur");
                $("#repairMal>li").eq(nowRepair-1).removeClass("cur");
            } else {
                $(this).addClass("cur");
                $("#repairMal>li").eq(nowRepair-1).addClass("cur");
            }

            $("#fault_type>li[value='" + nowFault + "']>span")
                .addClass("cur")
                .text($(".mal-sub-li.cur[data-faultId='" + nowFault + "']").length);
            if($(".mal-sub-li.cur[data-faultId='" + nowFault + "']").length == 0 ){
                $("#fault_type>li[value='" + nowFault + "']>span").removeClass("cur")
            }

            var len = $(".repair-mal-li.cur>.price-data").length;
            $("#money").text(0);
            for (var i=0;i<len;i++) {
                $("#money").text(Number($("#money").text())+Number($(".repair-mal-li.cur>.price-data").eq(i).text()));
            }
        });





    });

    function submitOrder() {

        var len = $(".repair-mal-li.cur>.price-data").length;

        var userPhone = $("#phone_name").text();
        var payment = Number($("#money").text());
        var phoneDetail = userPhone + "-" + $(".color-data").text();
        var repairDetails = "";
        for (var i=0;i<len;i++) {
            repairDetails = repairDetails + "-" + $(".repair-data").eq(i).text();
        }
        var price = "";
        for (var i=0;i<len;i++) {
            price = price + "-" + $(".price-data").eq(i).text();
        }
        console.log(userPhone,payment,phoneDetail,repairDetails,price);

        $.ajax({
            url:"",
            type:"post",
            data:{"userPhone":userPhone,"payment":payment,"phoneDetail":phoneDetail,"repairDetails":repairDetails,"price":price},
            dataType:"json",
            success:function (data) {

            }
        })
    }
    /*]]>*/

</script>

</html>