<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>手机维修详情</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/css/mycss/home.css}"/>
    <link rel="stylesheet" th:href="@{/css/mycss/phoneDetail.css}"/>
</head>
<body>
<script th:src="@{/js/jquery-2.1.1.js}"></script>
<script th:src="@{/js/bootstrap.js}"></script>
<script>
    $(function ($) {
        $(window).scroll(function () {
            //var top = $("#navigation-bar").offset().top;
            //无法获取到导航栏到顶部的距离，top为滚动条距离

            var scrollTop = $(document.documentElement).scrollTop();
            if (scrollTop > 50) {
                $("#navigation-bar").css("opacity", "0.7");//设置导航栏透明度
                $("#return-top-btn").fadeIn(500);//淡出显示 返回顶部 的按钮
            } else {
                $("#navigation-bar").css("opacity", "1");
                $("#return-top-btn").fadeOut(500);
            }


        })

        $("#return-top-btn").click(function () {
            $('body,html').animate({scrollTop: 0}, 1000);//缓缓返回顶部
        })

    })
</script>

<!--返回顶部-->
<button id="return-top-btn">
    <span class="glyphicon glyphicon glyphicon-menu-up" aria-hidden="true"></span>
    <br>
    返回顶部
</button>

<!--导航条-->
<nav class="navbar navbar-default navbar-fixed-top" id="navigation-bar">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <nav class="navbar navbar-default" id="logo-nav">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#" id="logo">
                            <img alt="Brand" th:src="@{/img/保时捷.png}">
                        </a>

                        <a class="navbar-brand" href="#" id="logo-text">手机维修砖家</a>
                    </div>
                </div>
            </nav>
        </div>


        <!--<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">-->
        <!--<ul class="nav navbar-nav" id="bar-text">-->
        <!--<li><a href="#">首页 <span class="sr-only">(current)</span></a></li>-->
        <!--<li><a href="#repair-quotation">众多机型</a></li>-->
        <!--<li><a href="#subscribe">预约下单</a></li>-->
        <!--<li><a href="#six-specialty">六大特点</a></li>-->
        <!--<li><a href="#question">常见问题</a></li>-->
        <!--</ul>-->

        <!--<ul class="nav navbar-nav navbar-right">-->
        <!--<li><a href="#">预约电话：188xxxxxxxx</a></li>-->

        <!--</ul>-->
    </div>
    </div>
</nav>

<!--手机详情-->
<div class="mal-wap">
    <!--图片-->
    <div class="img-wrap">
        <img th:src="@{/img/Phone_img/iPhone6.png}">
    </div>

    <!--详情-->
    <div class="mal-con">
        <h1>品牌机型
            <span id="phone_name">iPhone 6 Plus</span>
            <a href="#">【更改机型】</a>
        </h1>
        <p class="sub-title">
            <span class="glyphicon glyphicon-ok">免费上门</span>
            <span class="glyphicon glyphicon-ok">20分钟快修</span>
            <span class="glyphicon glyphicon-ok">修完后付款</span></p>
        <h2>机型颜色</h2>
        <ul class="color-ul clearfix" id="colorCon">
            <li class="color-li ul-li" data-id="1">黑色</li>
            <li class="color-li ul-li" data-id="2">白色</li>
            <li class="color-li ul-li" data-id="3">绿色</li>
            <li class="color-li ul-li" data-id="4">红色</li>

        </ul>
        <h2>故障类型</h2>
        <ul class="mal-ul clearfix" id="fault_type">
            <!--<li class="mal-li ul-li cur">屏幕问题(更换总成 旧屏回收)<span></span></li>-->
            <!--<li class="mal-li ul-li">电池/充电问题<span></span></li>-->
            <!--<li class="mal-li ul-li">内存升级/更换硬盘<span></span></li>-->
            <!--<li class="mal-li ul-li">摄像头问题<span></span></li>-->
            <!--<li class="mal-li ul-li">按键问题<span></span></li>-->
            <!--<li class="mal-li ul-li">声音问题<span></span></li>-->
            <!--<li class="mal-li ul-li cur">WiFi/手机信号问题<span></span></li>-->
            <!--<li class="mal-li ul-li">进水/无法开机/手机摔坏问题<span></span></li>-->
            <!--<li class="mal-li ul-li">主板维修<span></span></li>-->
            <!--<li class="mal-li ul-li">外壳边框问题<span></span></li>-->
            <!--<li class="mal-li ul-li">其他问题<span></span></li>-->
        </ul>
        <div class="repair-ul-wrap"><h2>维修方案</h2>
            <div class="repair-ul-all">
                <ul class="repair-ul clearfix cur" data-pid="0" id="repair_name">
                    <!--<li class="mal-li mal-sub-li ul-li cur">-->
                    <!--<div class="mal-name">外屏碎(显示正常)</div>-->
                    <!--<div class="mal-money">-->
                    <!--<p class="ac-money">¥229.00</p>-->
                    <!--</div>-->
                    <!--</li>-->
                    <!--<li class="mal-li mal-sub-li ul-li">-->
                    <!--<div class="mal-name">内屏显示异常</div>-->
                    <!--<div class="mal-money">-->
                    <!--<p class="ac-money">¥449.00</p>-->
                    <!--</div>-->
                    <!--</li>-->
                </ul>
            </div>
        </div>
        <div class="repair-con"><h3>iPhone 6 Plus <span class="color-data">灰色</span></h3>
            <ul class="repair-mal" id="repairMal"></ul>
            <div class="money-div">应付金额：<span class="money" id="money">0</span><span>元</span></div>
        </div>
        <div class="btn-wrap">
            <button class="submit-btn" id="submitBtn" data-brandid="1" data-id="33">确认</button>
        </div>


    </div>
</div>


<!--<div class="clear"></div>-->

</body>
<script>
    $(document).ready(function () {

        //维修问题
        $.ajax({
            type: "GET",
            url: "package.json",
            dataType: "json",
            success: function (res) {
                /*一级二级联动下拉菜单*/
                //console.log(res);
                var repair = res.model_repair.option;
                //console.log(typeof(res));
                for (var key in repair) {
                    //console.log(data[i].id + "===" + data[i].options[0].name)
                    // $("#fault_type").append("<option value='" + key + "'>" + repair[key].name + "</option>");
                    $("#fault_type").append("<li class='mal-li ul-li'>" + repair[key].name + "<span></span></li>");
                }
                $("#fault_type>li").click(function () {
                    // var now_type = $(this).val();
                    var now_type = $(this).index();
                    $("#repair_name").empty();
                    // console.log(now_type);
                    for (var k in repair[now_type].options) {
                        var now_repair = repair[now_type].options[k];

                        // var text1 = "<li class='mal-li mal-sub-li ul-li'>";
                        // var text2 = "<div class='mal-name'>";
                        // var text3 = "</div>";
                        // var text4 = "<div class='mal-money'>";
                        // var text5 = "<p class='ac-money'>¥666.00</p>";
                        // var text6 = "</div>";
                        // var text7 = "</li>";

                        var text = "<li class=\"mal-li mal-sub-li ul-li\">\n" +
                            "                        <div class=\"mal-name\">"
                            + now_repair.name + "</div>\n" +
                            "                        <div class=\"mal-money\">\n" +
                            "                            <p class=\"ac-money\">¥229.00</p>\n" +
                            "                        </div>\n" +
                            "                    </li>"
                        // $("#repair_name").append('<option value="' + k + '">' + now_repair.name + '</option>');
                        // $("#repair_name").append(text1,text2,text3 + now_repair.name + text4,text5,text6,text7);
                        $("#repair_name").append(text);
                    }
                });
            }
        });


        $(".color-li").on("click", function () {
            $(".color-li").removeClass("cur");
            $(this).addClass("cur");
        });


        $("#fault_type").on("click", "li", function () {
            $("#fault_type>li").removeClass("cur");
            $(this).addClass("cur");
        });

        $("#repair_name").on("click", "li", function () {
            $("#repair_name>li").removeClass("cur");
            $(this).addClass("cur");
            // console.log($(this).find(".ac-money").text());
            $("#money").text($(this).find(".ac-money").text());
        });


    });

</script>

</html>