<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.we.sdk.memsap.dao.PhoneDao">
    <!-- 列名 -->
    <sql id="field">
        id,phone_name,phone_image,phone_colors,series_id,brand_id
    </sql>
    <!-- 查询条件 -->
    <sql id="queryConditions">
        <where>
            <if test="searchVo.phoneName != null and searchVo.phoneName != ''">
                AND phone_name like concat('%', #{searchVo.phoneName},'%')
            </if>
            <if test="searchVo.brandName != null and searchVo.brandName != ''">
                AND brand_id in (SELECT id FROM MODEL_BRAND where brand_name like concat('%',#{searchVo.brandName},'%'))
            </if>
            <if test="searchVo.seriesName != null and searchVo.seriesName != ''">
                AND series_id in (SELECT id FROM MODEL_SERIES where series_name like concat('%',#{searchVo.seriesName},'%'))
            </if>
            AND is_delete != 1
        </where>
    </sql>

	<!-- resultMap -->
    <resultMap type="com.we.sdk.memsap.bean.Phone" id="phoneMapper">
        <result property="id" column="id"/>
        <result property="phoneName" column="phone_name"/>
        <result property="phoneImage" column="phone_image"/>
        <result property="phoneColors" column="phone_colors"/>
        <result property="seriesId" column="series_id"/>
        <result property="brandId" column="brand_id"/>
    </resultMap>

    <!-- 新增 -->
    <insert id="save" parameterType="com.we.sdk.memsap.bean.Phone" useGeneratedKeys="true">
        INSERT INTO MODEL_PHONE
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="phoneName != null">phone_name,</if>
            <if test="phoneImage != null">phone_image,</if>
            <if test="phoneColors != null">phone_colors,</if>
            <if test="seriesId != null">series_id,</if>
            <if test="brandId != null">brand_id</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="phoneName != null">#{phoneName},</if>
            <if test="phoneImage != null">#{phoneImage},</if>
            <if test="phoneColors != null">#{phoneColors},</if>
            <if test="seriesId != null">#{seriesId},</if>
            <if test="brandId != null">#{brandId}</if>
        </trim>
    </insert>

    <!-- 删除 -->
    <update id="delete">
      UPDATE MODEL_PHONE SET is_delete = 1 WHERE id = #{id}
    </update>


    <!-- 修改 -->
    <update id="update" parameterType="com.we.sdk.memsap.bean.Phone">
        UPDATE MODEL_PHONE
        <trim prefix="set" suffixOverrides=",">
            <if test="phoneName != null">phone_name = #{phoneName},</if>
            <if test="phoneImage != null">phone_image = #{phoneImage},</if>
            <if test="phoneColors != null">phone_colors = #{phoneColors},</if>
            <if test="seriesId != null">series_id = #{seriesId},</if>
            <if test="brandId != null">brand_id = #{brandId}</if>
        </trim>
        WHERE id = #{id}
    </update>

    <!-- 查询 -->
    <select id="getPhoneById" resultMap="phoneMapper">
        SELECT
        <include refid="field"/>
        FROM MODEL_PHONE
        WHERE id = #{id} AND is_delete != 1
    </select>

    <!-- 根据条件查询List -->
    <select id="getPhoneListByConditions" parameterType="com.we.sdk.memsap.base.vo.SearchVo" resultMap="phoneMapper">
        SELECT T.* FROM(
            SELECT
            <include refid="field"/>
            FROM MODEL_PHONE A
            <include refid="queryConditions"/>
            ) T
        limit ${(page.pn-1)*page.pageSize} , ${page.pageSize}
    </select>


    <!-- 查询List -->
    <select id="getPhoneList" resultMap="phoneMapper">
        SELECT
        <include refid="field"/>
        FROM MODEL_PHONE
        WHERE is_delete != 1
    </select>

    <!-- 查询数量 -->
    <select id="getPhoneListCount" resultType="java.lang.Integer">
        SELECT COUNT(1) FROM(
            SELECT
            <include refid="field"/>
            FROM MODEL_PHONE A
            <include refid="queryConditions"/>
        ) T
    </select>
</mapper>