
body {
    margin-top: 50px;
    position: relative;
    background-color: #fff;
}

.modle-wap {
    padding-top: 20px;
}

.wrap {
    width: 80%;
    margin: 0 auto;
}

.modle-wap h1, .modle-wap h2 {
    padding-top: 30px;
    font-size: 22px;
    color: #2c2c2c;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 30px;
}

.modle-wap .brand-all {
    overflow: hidden;
}

li {
    list-style: none;
}

.modle-wap .brand-all li {
    position: relative;
    float: left;
    width: 172px;
    height: 160px;
    text-align: center;
    border: 1px solid #dfdfdf;
    cursor: pointer;
    margin-left: -1px;
    margin-bottom: 20px;
}

.modle-wap .brand-all li.cur, .modle-wap .brand-all li:hover {
    border: 1px solid #e70;
    z-index: 9;
}

.modle-wap .li-a {
    display: block;
    height: 100%;
}

/*.modle-wap .brand-all li img {*/
    /*height: 70px;*/
    /*width: 70px;*/
    /*margin: 16px 0 11px;*/
/*}*/

.modle-wap .brand-all li p {
    width: 100%;
    bottom: 43px;
    font-size: 14px;
    color: #2c2c2c;
}

.modle-wap .phone-tit {
    overflow: hidden;
    margin-bottom: 10px;
}

.modle-wap .phone-tit li.cur {
    background: #333;
    color: #fff;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    border-right: 1px solid #333;
}

.modle-wap .phone-tit li {
    float: left;
    width: 140px;
    height: 60px;
    line-height: 58px;
    text-align: center;
    font-size: 18px;
    color: #6f6f6f;
    border-right: 1px solid #dfdfdf;
    border-top: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
    margin-bottom: 20px;
    cursor: pointer;
}

.modle-wap .phone-all {
    margin-bottom: 70px;
    overflow: hidden;
    display: none;
}

.modle-wap .phone-all.cur {
    display: block;
}

.modle-wap .phone-all {
    margin-bottom: 70px;
    overflow: hidden;
}

.modle-wap .phone-all li {
    position: relative;
    float: left;
    width: 160px;
    height: 200px;
    border: 1px solid #e6e6e6;
    text-align: center;
    margin-right: 13px;
    margin-bottom: 30px;
    cursor: pointer;
}

.modle-wap .li-a {
    display: block;
    height: 100%;
}

.modle-wap .phone-all li img {
    margin-top: 30px;
    height: 100px;
}

.modle-wap .phone-all li p {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 30px;
    font-size: 14px;
    color: #2c2c2c;
}

.modle-wap .phone-all li:hover {
    border: 1px solid #e70;
}

.all-phone .phone-all.cur{
    visibility: visible;
}

.all-phone .phone-all{
    visibility: hidden;
}


.modle-wap .all-phone .phone-list {
    margin-bottom: 70px;
    overflow: hidden;
    display: none;
}

.modle-wap .all-phone .phone-list.cur {
    display: block;
}

.modle-wap .all-phone .phone-list {
    margin-bottom: 70px;
    overflow: hidden;
}

.modle-wap .all-phone .phone-list li {
    position: relative;
    float: left;
    width: 160px;
    height: 200px;
    border: 1px solid #e6e6e6;
    text-align: center;
    margin-right: 13px;
    margin-bottom: 30px;
    cursor: pointer;
}


.modle-wap .all-phone .phone-list li img {
    margin-top: 30px;
    height: 100px;
}

.modle-wap .all-phone .phone-list li p {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 30px;
    font-size: 14px;
    color: #2c2c2c;
}

.modle-wap .all-phone .phone-list li:hover {
    border: 1px solid #e70;
}

.all-phone .all-phone .phone-list.cur{
    visibility: visible;
}

.all-phone .all-phone .phone-list{
    visibility: hidden;
}

.phone-brand-list.cur{
    visibility: visible;
}

.phone-brand-list{
    visibility: hidden;
}