<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.we.sdk.memsap.dao.AddressDicDao">
    <!-- 列名 -->
    <sql id="field">
        id
        ,
        parent_id,
        address
    </sql>
    <!-- 查询条件 -->
    <sql id="queryConditions">
        <where>
            <if test="address != null and address != ''">
                AND address LIKE CONCAT('%',#{address},'%')
            </if>
        </where>
    </sql>

    <!-- resultMap -->
    <resultMap type="com.we.sdk.memsap.bean.AddressDic" id="addressDicMapper">
        <result property="id" column="id"/>
        <result property="parentId" column="parent_id"/>
        <result property="address" column="address"/>
    </resultMap>

    <!-- 新增 -->
    <insert id="save" parameterType="com.we.sdk.memsap.bean.AddressDic" useGeneratedKeys="true"
            keyProperty="id" keyColumn="ID">
        INSERT INTO ADDRESS_DIC
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="parentId != null">parent_id,</if>
            <if test="address != null">address</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="parentId != null">#{parentId},</if>
            <if test="address != null">#{address}</if>
        </trim>
    </insert>

    <!-- 删除 -->
    <update id="delete">
        UPDATE ADDRESS_DIC
        SET is_delete = 1
        WHERE id = #{id}
    </update>


    <!-- 修改 -->
    <update id="update" parameterType="com.we.sdk.memsap.bean.AddressDic">
        UPDATE ADDRESS_DIC
        <trim prefix="set" suffixOverrides=",">
            <if test="parentId != null">parent_id = #{parentId},</if>
            <if test="address != null">address = #{address},</if>
        </trim>
        WHERE id = #{id}
    </update>

    <!-- 查询 -->
    <select id="getAddressDicById" resultMap="addressDicMapper">
        SELECT
        <include refid="field"/>
        FROM ADDRESS_DIC
        WHERE id = #{id} AND is_delete != 1
    </select>

    <!-- 用来查询地址是否存在 -->
    <select id="getAddressDicByAddress" resultMap="addressDicMapper">
        SELECT
        <include refid="field"/>
        FROM ADDRESS_DIC
        WHERE address = #{address}
    </select>

    <!-- 条件查询List -->
    <select id="getAddressDicListByCondition" resultMap="addressDicMapper">
        SELECT T.* FROM(
        SELECT
        <include refid="field"/>
        FROM ADDRESS_DIC A
        <include refid="queryConditions"/>
        ) T
        limit ${(page.pn-1)*page.pageSize} , ${page.pageSize}
    </select>

    <!-- 查询数量 -->
    <select id="getAddressDicListCount" resultType="java.lang.Integer">
        SELECT COUNT(1) FROM(
        SELECT
        <include refid="field"/>
        FROM ADDRESS_DIC A
        <include refid="queryConditions"/>
        ) T
    </select>

    <!-- 根据父亲id查询addressDic -->
    <select id="getAddressDicByParentId" resultMap="addressDicMapper">
        SELECT
        <include refid="field"/>
        FROM ADDRESS_DIC
        WHERE parent_id = #{parentId} AND is_delete != 1
        AND 0!=(SELECT
          COUNT(*)
        FROM ADDRESS_DIC WHERE id = #{parentId} AND is_delete != 1);
    </select>

</mapper>